

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

pre.prettyprint {
  font-size: 13px !important;
  line-height: 1.42857 !important;
}
pre.prettyprint .tag {
  font-size: 13px !important;
  line-height: 1.42857 !important;
  padding-top: 0em !important;
}
pre.prettyprint .tag:hover {
  color: inherit;
}

pre.prettyprint .tag::before {
  content: '';
}

hr {
  border-color: #cfcfcf;
}

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.header,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}

.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.h1, .h2, .h3, .h4 {
  /*font-family: 'Berkshire Swash', cursive;*/
}

.jumbotron p {
  font-size: 1em;
}
.jumbotron {
  padding-top: 48px;
  padding-bottom: 36px;
}

.h2 + span[data-tbk-vishy-state] {
  vertical-align: super;
}

a[data-ng-click] {
  cursor:pointer;
}

.callout {
  text-align: center;
  margin-bottom: 30px;
}
.callout .fa {
  font-size: 2.5em;
}

#main-page-affix.jumbotron {
  padding: 10px;
}

#main-page-affix.affix {
  position: fixed;
  top: 30px;
  left:10px;
}
#main-page-affix.affix-bottom {
  position: absolute;
  top: auto;
  bottom: 450px;
}


#main-page-header .h1.main {
  font-size: 5em;
}
#main-page-header p {
  font-size: 1.5em;
}

#main-page-header ul li:after {
  content: " | ";
  color: #cfcfcf;
  padding: 0 2px 0 10px;
}
#main-page-header ul li:last-child:after {
  content: "";
  padding: 0;
}
#main-page-header ul li.active a {
  color: #aaa;
}

@media (max-width: 767px) {
  #main-page-affix {
    padding: 5px;
    position: fixed;
    width: 100%;
    top: 0;
    left:0;
    z-index: 10000;

    border-bottom: 1px solid #ddd;
    border-radius: 0;
  }

  #main-page-affix.affix {
    top: 0;
  }

  #main-page-affix ul > li {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
  }

  #main-page-affix ul > li a {
    padding: 5px 5px;
  }

  .main-page-affix-support {
    padding-top: 60px;
  }

}

.logo {
  opacity: 0.8;
}

.main.h1 a {
  text-decoration: none;
  color: white;
}

.tbk-github-fork-ribbon {
  position: absolute;
  right: 0;
  top:0;
}

.github-fork-ribbon {
  background-color: #333;
}

.github-fork-ribbon a {
  color: white;
}

.github-fork-ribbon a:visited{
  color: white;
}

.hljs {
  background-color: rgb(245, 245, 245);
}

#draggable-example-container .default-draggable-element {
  border: 3px solid #333;
  border-radius: 25px;
  position: relative;
  background-color: #e5e5e5;
  cursor: pointer;

  padding: 40px;

  width: 300px;
  height: 170üx;
  margin: 0 auto;

  z-index: 999;
}

.navdrawer-container ul li.active a {
  background-color: rgba(255, 255, 255, 0.2);
}

/*
 * Web Starter Kit
 *
 * Multi-screen layout styles for your page. Brought to you by the
 * Web Starter Kit team.
 *
 */
@import '_h5bp';

/*
 * Visual Style Guide styles
 * Remove if you prefer to use a CSS library, like Bootstrap
 */
@import 'components/components';

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  font-family: 'Roboto Condensed', Helvetica, Arial, sans-serif;
  font-weight: 300;
  background-color: #fff;
  box-sizing: border-box;
  min-height: 100%;
}

body.open {
  overflow: hidden;
}

.app-bar {
  display: block;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #4285f4;
  overflow: hidden;
  z-index: 1;
}

.app-bar-container {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 60px;
  position: relative;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  margin: 0 auto;
}

.app-bar.open,
.app-bar.open ~ main {
  -webkit-transform: translate(250px, 0);
  transform: translate(250px, 0);
}

.app-bar .logo {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  font-size: 2em;
  line-height: 60px;
  margin: 0 16px;
  padding: 0;
  color: #fefefe;
  float: none;
  max-width: none;
  font-weight: 300;
  display: initial;
}

.app-bar .logo a {
  text-decoration: none;
  color: inherit;
  font-weight: normal;
}

.app-bar-actions {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  z-index: 2;
}

.app-bar button {
  width: 60px;
  height: 60px;
  background-image: none;
  background-color: transparent;
  border: none;
  padding: 0;
  display: inline-block;
  -webkit-transition: background-color 0.2s ease-out;
  transition: background-color 0.2s ease-out;
  -webkit-tap-highlight-color: transparent;
}

.app-bar button img {
  height: 24px;
  width: 24px;
}

.app-bar button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.app-bar button:focus {
  background-color: rgba(255, 255, 255, 0.2);
  outline: 0;
}

.app-bar button:active {
  background-color: rgba(255, 255, 255, 0.4);
}

.promote-layer {
  /*
  This may promote the layer to a composited
  layer.

  Replace with will-change when available

  #perfmatters
  */
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.base,
p,
ul,
ol {
  font-size: 19px;
}

.navdrawer-container {
  z-index: 1;
  position: fixed;
  top: 0;
  bottom: 0;
  width: 250px;
  height: 100%;
  background-color: #3367D6;
  color: #fefefe;
  -webkit-transform: translate(-250px, 0);
  transform: translate(-250px, 0);
  overflow-y: auto;
}

.navdrawer-container.open {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}

.app-bar,
.navdrawer-container.opened,
main {
  -webkit-transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
}

.navdrawer-container h4,
.navdrawer-container ul li a {
  height: 60px;
  padding: 17px 20px;
  line-height: 1.4;
}
.navdrawer-container ul li p {
  height: 60px;
  padding: 17px 20px;
  line-height: 1.4;
}

.navdrawer-container h4 {
  background-color: white;
  color: #3367D6;
}

.navdrawer-container ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.navdrawer-container ul li a {
  display: block;
  text-decoration: none;
  color: white;
  -webkit-transition: background-color 0.2s ease-out;
  transition: background-color 0.2s ease-out;
  white-space: nowrap;
}

.navdrawer-container ul li {
  border-bottom-style: solid;
  border-width: 1px;
  border-color: white;
  padding: 0;
}

.navdrawer-container ul li::before {
  content: none;
}

.navdrawer-container ul li a:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.navdrawer-container ul li a:focus {
  background-color: rgba(255, 255, 255, 0.3);
  outline: 0;
}

.navdrawer-container ul li a:active {
  background-color: rgba(255, 255, 255, 0.4);
}

main {
  margin: 0 auto;
  /* Height of the header */
  padding: 60px 16px 16px 16px;
  min-height: 100%;
}

/** Larger Screens - desktops and tablets **/
@media all and (min-width: 990px) {
  .app-bar {
    position: relative;
  }

  .app-bar.open,
  .app-bar.open ~ main {
    -webkit-transform: translate(0px, 0);
    transform: translate(0px, 0);
  }

  .app-bar-container {
    display: block;
    /*height: 130px;*/
    max-width: 864px;
    padding: 0 16px;
    box-sizing: border-box;
    background-color: #4285f4;
  }

  .app-bar .logo {
    float: left;
    margin: 0;
    padding: 0;
    line-height: 78px;
    /*line-height: 130px;*/
    font-size: 46px;
  }

  .app-bar-actions {
    float: right;
  }

  .app-bar::after {
    content: ' ';
    display: block;
    height: 0;
    overflow: hidden;
    clear: both;
  }

  button.menu {
    display: none;
  }

  .navdrawer-container {
    position: relative;
    width: 100%;
    height: auto;
    margin-top: 0;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    -webkit-transition: none;
    transition: none;
    overflow-y: auto;
  }

  .navdrawer-container h4 {
    display: none;
  }

  .navdrawer-container ul {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    max-width: 864px;
    margin: 0 auto;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }

  .navdrawer-container ul li {
    border: none;
  }

  main {
    max-width: 864px;
    padding-top: 0;
    min-height: initial;
  }

  body {
    overflow-y: scroll;
  }
}

@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 300;
  src: url(fonts/RobotoCondensed-Light.eot);
  src: local('Roboto Condensed Light'), local('RobotoCondensed-Light'), url(fonts/RobotoCondensed-Light.eot) format('embedded-opentype'), url(fonts/RobotoCondensed-Light.woff) format('woff');
}

@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/RobotoCondensed-Regular.eot);
  src: local('Roboto Condensed Regular'), local('RobotoCondensed-Regular'), url(fonts/RobotoCondensed-Regular.eot) format('embedded-opentype'), url(fonts/RobotoCondensed-Regular.woff) format('woff');
}

@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  src: url(fonts/RobotoCondensed-Bold.eot);
  src: local('Roboto Condensed Regular'), local('RobotoCondensed-Bold'), url(fonts/RobotoCondensed-Bold.eot) format('embedded-opentype'), url(fonts/RobotoCondensed-Bold.woff) format('woff');
}

@font-face {
  font-family: 'Roboto Condensed';
  font-style: italic;
  font-weight: 300;
  src: url(fonts/RobotoCondensed-LightItalic.eot);
  src: local('Roboto Condensed Light Italic'), local('RobotoCondensed-LightItalic'), url(fonts/RobotoCondensed-LightItalic.eot) format('embedded-opentype'), url(fonts/RobotoCondensed-LightItalic.woff) format('woff');
}

@font-face {
  font-family: 'Roboto Condensed';
  font-style: italic;
  font-weight: 400;
  src: url(fonts/RobotoCondensed-Italic.eot);
  src: local('Roboto Condensed Italic'), local('RobotoCondensed-Italic'), url(fonts/RobotoCondensed-Italic.eot) format('embedded-opentype'), url(fonts/RobotoCondensed-Italic.woff) format('woff');
}

@font-face {
  font-family: 'Roboto Condensed';
  font-style: italic;
  font-weight: 700;
  src: url(fonts/RobotoCondensed-BoldItalic.eot);
  src: local('Roboto Condensed Bold Italic'), local('RobotoCondensed-BoldItalic'), url(fonts/RobotoCondensed-BoldItalic.eot) format('embedded-opentype'), url(fonts/RobotoCondensed-BoldItalic.woff) format('woff');
}


@media all and (max-width: 989px) {
  .app-bar,.navdrawer-container {
    z-index:2;
  }

  .github-fork-ribbon-wrapper {
    display:none;
  }

  #main-page-affix {
    display:none;
  }
}
