

<header class="container">
  <h2 class="xlarge">Demos</h2>
  <p>a small collection of examples demonstrating VisSense.js</p>
</header>

<ul class="list-links list-links--primary">
  <li><a data-ui-sref="demos.draggable-element">draggable element</a></li>
  <li><a data-ui-sref="demos.percentage-time-test">percentage time test</a></li>
  <li><a data-ui-sref="demos.fire-callbacks">fire callbacks</a></li>
  <li><a data-ui-sref="demos.track-visibility">track viewtime</a></li>
  <li><a data-ui-sref="demos.track-sections">track sections</a></li>
  <li><a data-ui-sref="demos.angular-vissense-monitor">angular directive: vissense-monitor</a></li>
  <li><a data-ui-sref="demos.angular-many-monitors">angular directive: vissense-monitor (many monitors)</a></li>
</ul>
