<header class="container">
  <h2 class="xlarge">Download</h2>
</header>

<div class="container">
  <h3>Bower</h3>
  <p>Install with bower</p>
  <pre data-tbk-code-prettify="">
bower install vissense/vissense#<span data-tbk-github-version="vissense/vissense"></span></pre>

  <p>
    Add some <code>&lt;script&gt;</code> to your index.html:
  </p>

<pre data-tbk-code-prettify="">
&lt;script src="/bower_components/vissense/dist/vissense.js"&gt;&lt;/script&gt;</pre>

<h3>Development</h3>
  <p>
    <a class="button button--secondary" href="https://github.com/vissense/vissense">
      <i class="fa fa-fw fa-github"></i> View on Github
    </a>
    <a class="button button--primary" href="https://github.com/vissense/vissense/releases">
      <i class="fa fa-fw fa-download"></i> Download
    </a>
  </p>
</div>
