<section data-tbk-default-demo-navigation></section>

<header class="container">
  <h2>[Demo] Angular Directives: vissense-monitor</h2>
</header>
<style>
  input#many-monitors-count {
    padding: 13px;
    min-width: 330px;
    margin: 3px;
    font-size: 2em;
  }

  .vissense-monitor {
    margin: 10px;
    padding: 10px;
    height: 100px;
    width: 100px;
    float: left;

    border: 1px solid #333;
  }

  .vissense-monitor-hidden {
    background-color: red;
  }

  .vissense-monitor-visible {
    background-color: orange;
  }

  .vissense-monitor-fullyvisible {
    background-color: green;
  }

</style>

<section class="styleguide__editorial-header">
  <div class="editorial-header">
    <div class="container">
      <p class="editorial-header__excerpt">
        This pages demonstrates the dynamic observation of volatile elements.
        You can create and destroy monitor instances with the input form below.

        Take a look at the console while playing with the value and/or scrolling around.
      </p>
    </div>
  </div>
</section>
<div class="container" id="draggable-example-container" style="margin-top: 30px;">
  <div class="clearfix">
    <form>
      <label for="many-monitors-count">Active monitors: </label>
      <input id="many-monitors-count" class="" type="number" data-ng-model="model.monitorCount"
             min="1"
             max="{{model.monitorCountMax}}"
             data-ng-max="{{model.monitorCountMax}}">
    </form>
    <div class="monitor-container" data-ng-repeat="i in [] | range:model.monitorCount">
      <div vissense-monitor
           on-fullyvisible="model.logEvent('fullyvisible')"
           on-visible="model.logEvent('visible')"
           on-hidden="model.logEvent('hidden')">
      </div>
    </div>
  </div>

  <br data-ng-repeat="i in [] | range:5" />

  <div class="container">

    <h3>Code</h3>
    <section class="styleguide__editorial-header">
      <div class="editorial-header">
        <div class="container">
          <p class="editorial-header__excerpt">
            The following example is made with
            <a href="https://github.com/vissense/angular-vissense">angular-vissense</a> -
            but is also quite simple to recreate with or without any other framework.
          </p>
        </div>
      </div>

    <h4>html</h4>
<pre data-tbk-code-prettify="" data-lang="html">
&lt;form&gt;
  &lt;label>Amount: &lt;/label&gt;
  &lt;input type="number" data-ng-model="model.monitorCount" min="1" max="200"&gt;
&lt;/form&gt;

&lt;div class="monitor-container" data-ng-repeat="i in [] | range:model.monitorCount"&gt;
  &lt;div vissense-monitor
       on-fullyvisible="model.logEvent('fullyvisible')"
       on-visible="model.logEvent('visible')"
       on-hidden="model.logEvent('hidden')"&gt;
  &lt;/div&gt;
&lt;/div&gt;
</pre>

    <h4>controller</h4>
<pre data-tbk-code-prettify="">
module.controller('ManyMonitorsDemoCtrl', ['$scope','$log',
function ($scope, $log) {
  $scope.model = {
    monitorCount: 42
  };

  $scope.model.logEvent = function(description) {
    $log.info(description);
  };
}]);
</pre>

  </div>

</div>
