<style>
  .visible-xs .vissense-metrics-container,
  .visible-sm .vissense-metrics-container {
    position: relative !important;
    box-shadow: 1px 1px 1px 2px rgba(99, 99, 99, 0.4) !important;
    margin-top: 30px;
    z-index: 1;
    min-width: 600px;
  }
</style>
<section data-tbk-default-demo-navigation></section>

<header class="container">
  <h2>[Demo] Track Viewtime Demo</h2>
</header>

<div class="container" id="draggable-example-container" style="margin-top: 30px;">

  <div id="example1" class="default-draggable-element" data-tbk-draggable>
    <div tbk-default-draggable-element="example1"></div>
  </div>

  <div data-vissense-metrics-infocard="example1" class="visible-xs visible-sm"></div>
  <div data-vissense-metrics-infocard="example1" class="visible-md visible-lg"></div>

  <p style="min-height: 1000px;"></p>

</div>
