<div>
    <header class="app-bar promote-layer">
        <div class="app-bar-container">

            <button class="menu"><i class="fa fa-list"></i></button>

            <h1 class="logo">
                <a data-ui-sref="home">
                    Vis<strong>Sense</strong>.js
                </a>
                <a href="https://travis-ci.org/vissense/vissense">
                  <img src="https://travis-ci.org/vissense/vissense.svg?branch=master" />
                </a>
                <a href="https://coveralls.io/r/vissense/vissense">
                  <img src="https://coveralls.io/repos/vissense/vissense/badge.png" />
                </a>
            </h1>
        </div>
    </header>

    <nav class="navdrawer-container promote-layer">
        <h4>Navigation</h4>
        <ul>
            <li data-ui-sref-active="active"><a data-ui-sref="demos.overview">Demos</a></li>
            <li>
                <p style="color:#bbb;">Version <span data-tbk-github-version="vissense/vissense"></span></p>
            </li>
            <li>
                <a href="https://github.com/vissense/vissense">
                    <i class="fa fa-github"></i> GitHub Project
                </a>
            </li>
        </ul>
    </nav>
</div>
