
<div class="container">
    <div class="row">
        <div class="header">
            <ul class="nav nav-pills pull-right">
                <li data-ui-sref-active="active"><a data-ui-sref="home">Home</a></li>
                <li data-ui-sref-active="active"><a data-ui-sref="gettingstarted">Getting started</a></li>
                <li data-ui-sref-active="active"><a data-ui-sref="documentation">Documentation</a></li>
                <li data-ui-sref-active="active"><a data-ui-sref="demos.overview">Demos</a></li>
            </ul>
            <h3 class="h3">
                <img src="images/logo.png" alt="logo" class="logo" height="30">
                vissense.js
            </h3>
        </div>
    </div>
</div>